body {
  background: black;
}

.wrapper {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: black;
  border: 2px dotted #816323;
}

.wrapper .rome {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  opacity: 35%;
  position: fixed;
}

nav {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 44px;
  justify-content: space-between;
  left: 0px;
  line-height: 24px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 15px;
  padding-bottom: 0px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0px;
  right: 0px;
  text-decoration-color: #d89d27;
  text-size-adjust: 100%;
  top: 0px;
  width: 1452px;
  z-index: 1030;
}

nav h3 {
  color: #d89d27;
  font-size: 20px;
  padding-top: 5px;
  margin-top: 5px;
  margin-left: 5px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav li {
  color: #d89d27;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 15px;
  margin: 5px 10px;
}

.wrapper h1 {
  color: #d89d27;
  font-size: 100px;
  margin-top: 23%;
  margin-bottom: 0;
  font-family: "Times New Roman", Times, serif;
  padding-left: 20%;
}

.wrapper h2 {
  color: #d89d27;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  padding-left: 23%;
}

.box {
  position: relative;
  width: 15%;
  margin-top: -15%;
  left: 43%;
  border: 1px dotted #816323;
}

.trastevere {
  display: block;
  width: 100%;
  height: auto;
  padding: 5px;
  opacity: 82%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #1d1d2f;
}

.box:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.text {
  font-family: "Times New Roman", Times, serif;
  color: #816323;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.box_colosseum {
  position: relative;
  width: 15%;
  margin-top: -27%;
  left: 59%;
  border: 1px dotted #816323;
}

.box_colosseum:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.colosseum {
  display: block;
  width: 100%;
  height: auto;
  padding: 5px;
  opacity: 82%;
}

.box_carbonara {
  position: relative;
  width: 15%;
  margin-top: -27%;
  left: 75%;
  border: 1px dotted #816323;
}

.box_carbonara:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.carbonara {
  display: block;
  width: 100%;
  height: auto;
  padding: 5px;
  opacity: 82%;
}

.socials ul {
  display: block;
  justify-content: start;
  margin-top: 10%;
}
.socials li {
  list-style: none;
  color: #d89d27;
  font-size: 20px;
}
